<!DOCTYPE html>
<head>
<meta charset="utf-8">

</head>
<body>

<div id="otOffice">
<h1 style="color:red;">申请在公司加班规则：</h1>
<p>1、平日工作时间必须满8小时(不包括午休)。</p>
<p>2、超出8小时的加班时长从最少1小时开始计算，半小时递增。</p>
<p>3、公司加班必须有相应的打卡记录，否则Leader不会批准，也无法拿到加班费。</p>
<p>4、加班申请要有项目onl号。</p>
<h1 style="color:red;">温馨提示：</h1>
<p>1、OT需求发送时间，是指CS通知的需要加班的时间。</p>
<p>2、未申请的加班时长，会被记录为本月工作时间，用于月末冲抵当月不足时长。月底清0</p>
<p>3、平日公司加班申请后会直接计算为加班费。</p>
<p>4、周末节假日加班申请后会在三个月内用于倒休，如未使用，则计算为加班费。</p>
<p>5、申请的公司加班可以在 <span style="color:green;">显示模块 - 加班</span> 中查看或取消。</p>
</div>


</body>